@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AVGARDD.TTF';
    src: url('../public/AVGARDD.TTF');
}

html{
    font-family: 'AVGARDD.TTF';
}

.map-p{
    display: flex;
    flex-basis: content;
    width: 320px;
    height: 480px;
  }

@media (min-width: 1024px) {
    .map-p {
      width: 1200px;
      height: 500px;
      border-radius: 30px;
    }
  }