@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AVGARDD.TTF';
    src: url('/AVGARDD.TTF');
}

html{
    font-family: 'AVGARDD.TTF';
}

.map-p{
    display: flex;
    width: 320px;
    height: 480px;
  }

@media (min-width: 1024px) {
    .map-p {
      width: 1290px;
      height: 500px;
      border-radius: 10px;
    }
  }

 
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    width: 100%;
    aspect-ratio: 16/9;
  
  }